.content-wrapper {
	width: 800px;
	margin: 0 auto 0 auto;
}

.at-form {
	margin-top: 50px;
}

form input[type=text] {
	height: 60px;
}

form input[type=email] {
	height: 60px;
}

form input[type=password] {
	height: 60px;
}