body {
	background-color: white;
}

.newsletter-email.newsletter-email {
	width: 250px;
}

.content-wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}

.at-form {
	margin-top: 50px;
}

.post-heading .post-title {
	font-size: 30px;
	font-family: georgia;
	font-weight: 200;
	margin-left: 10px;
}

.posts-list .post {
	padding: 20px 0 25px 0px;
	margin-top: 15px;
}

.post-meta-item {
	margin-left: 10px;
}

.post-author {
	margin-left: 10px;
}

form input[type=text] {
	height: 60px;
}

form input[type=email] {
	height: 60px;
}

form input[type=password] {
	height: 60px;
}